*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;

}

body{
  background: #16182C;
}

.Navbar__Wrapper{
  z-index: 55;
  transition: 0.5s;
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Navbar{
  width: 95%;
  display: flex;
  justify-content: space-between;

}

.Navbar__Logo{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Navbar__Logo p{
  width: 95px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.Navbar__Logo img{
  width: 50px;
  height: 50%;
  object-fit: contain;
}

.Navbar__Options{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar__Options p{
  text-align: center;
  width: 25%;
  color: white;
  font-weight: 600;
  font-size: 18px;
  transition: .3s;
}

.Navbar__Options p:hover{
  cursor: pointer;
  transition: .3s;
  color:wheat ;
}

.Navbar__Options p:nth-child(4){
  width: 250px;
}



.Navbar__Search{
  max-width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.Search__input{
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  background: none;
  color: white;
  text-align: center;
}

.Navbar__Search img{ 
  width: 30px;
  height: 30px;
  transform: rotate(-90deg);
}
.Navbar__Min{
  display: none;
}

.Navbar__Wrapper--Show{
  transition: 0.5s;
  background: #16182C;
}

.Banner{
  border-radius:10px ;
  position: relative;
  top: 65px;
  width: 90%;
  left: 5%;
  height: 500px;
  z-index: -99;
}



.Banner__Filter{
  border-radius:10px ;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.57) 34.24%, rgba(0, 0, 0, 0) 100%);  
}

.Banner__Info{
  z-index: 9999;
  position: absolute;
  left: 20px;
  top: 20%;
  width: 500px;
  height: 300px;
  color: white;
}

.Banner__Info h1{
  width: 100%;
  text-align: center;
}

.Banner__Info p{
  margin-top: 15px;
  text-align: center;
  width: 100%;
  height: auto;
}

.Banner__Buttons{
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.Btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.Btn--Play{
  background: #df1c1cc1;
  font-weight: 600;
  color: white;
}

.Btn--MoreInfo{
  background: #6d6d6eaf;
  font-weight: 600;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
}

.Play__Button{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.Banner__Image{
  border-radius:10px ;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.ContainerMovies{
  width: 90%;
  margin-left: 5%;
  margin-top: 100px;
}


.Row{
  margin-top: 20px;
  width: 100%;
  padding: 15px 0;
  overflow: hidden;

}

.Row__Name{
  font-size: 1rem;
  color: white;
  font-weight: 600;
  padding: 15px 0;
  margin-left: 10px;
}


.Row__Inner{
  display: flex;
  align-items: center;

}

.TopMovies{
  height: 400px;
}


.RowItem{
  position: relative;
  transition: 0.5s;
  border-radius: 10px;
  min-width: 230px;
  height: 150px;
  margin: 0 10px;
  touch-action: none;

}

.TopMovies{
  height: 300px;
}

.RowItem:hover{
  transition: 0.3s;
  transform: scale(1.1);
  margin: 0 25px;
  cursor: pointer;
}

.RowItem:hover > .Item__Filter{
  transition: .3s;
  opacity: 1;
}


.Item__Filter{
  transition: .5s;
  opacity: 0;
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #16182cd3;
}

.Filter__Movie{
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 230px;
  display: flex;
  flex-direction: column;
}

.Filter__Movie__Options{
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.Filter__Movie__Options__Icons{
  width: 28px;
  height: 28px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Filter__Movie__Options__Icons--Play img{
  width: 15px;
  height: 15px;
}

.Filter__Movie__Options__Icons--Play{
  background: white;
}


.Filter__Movie__Options__Icons--Add{
  cursor: pointer;
  color: white;
}

.Filter__Movie__Options__Icons--Modal{
  color: white;
}

.Filter__Movie__Options__Title{
  overflow: hidden;
  max-width: 230px;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}

.RowItem__Poster{
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  border-radius: 10px;
}



.Modal{
  z-index: 88888888;
  position: fixed;
  width: 50%;
  background: #16182C;
  border-radius:10px ;
  height: calc(100vh - 100px);
  overflow: auto;
}

.Close__Modal{
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  background: #16182C;
  z-index: 10;
  right: 10px;
  top: 10px;
  border: 1px solid white;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.Modal__Banner{
  position: relative;
  height: 350px;
  width: 100%;
}

.Modal__Banner__Filter{
  position: absolute;
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(to top, #16182c, #4a495b29, #82818e00, #bfbec500, #ffffff00);
}

.Banner__Filter__Container-Button{
  position: absolute;
  width: 250px;
  height: 50px;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Modal__Banner__Image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.Modal__Main-Info{
  width: auto;
  color: white;
  margin: 0 auto;
  padding-left:20px ;

}

.Modal__Main-Info__Title{
  padding: 5px;
  font-weight: 500;
  font-size: 1.2rem;
}

.Modal__Main-Info__Description{
  padding: 5px;
  font-weight: 400;
  font-size: 15px;
}

.Modal__Extra-Info{
  font-weight: 600;
  width: auto;
  color: rgba(255, 255, 255, 0.381);
  max-height: 150px;
  margin: 10px auto;
  padding-left:20px ;
}

.Extra-Info__Title img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.Extra-Info__Title{
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.General__Item{
  width: 100%;
  display: flex;
  margin-top: 20px;
}


.General__Item--String{
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  width: 150px;
}



.General__Item--Value{
  margin-top: 10px;
}

.General__Item--Genres{
  overflow: none;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  height: auto;
}

.General__Item:nth-child(3){
  margin-top: 20px;
}

.Item__Genre{
  text-align: center;
  font-size: 12px;
  margin: 10px 10px;
}

.Modal__Wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  background: #000000a9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.Modal__Wrapper--Hidden{
  animation: ModalWrapperOpacityHidden 3s linear forwards;
}

.Modal__Wrapper--Show{
  display: flex;
  animation: ModalWrapperOpacityShow .3s linear forwards;
}

.Modal--Hidden{
  animation: ModalClosing 1s linear forwards;
}


.Modal--Show{
  animation: ModalOpen .3s linear forwards;
}

.Speed--Hidden{
  animation: SpeedHidden .1s linear forwards;
}

@keyframes SpeedHidden{

  100% {
    transform: translateY(10000px)
  }
}



@keyframes ModalWrapperOpacityShow{
  0%   {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ModalWrapperOpacityHidden{
  0%   {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10000px);
  }
}


@keyframes ModalOpen{
  0%   {
    transform: translateY(1500px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes ModalClosing{
  0%   {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1500px);
  }
}





@media(max-width:1176px){
  .Navbar__Options{
    display: none;
  }

  .Navbar__Options--FullWindow{
    color: white;
    position: fixed;
    top: 65px;
    left: 0;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #16182ce9;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .Navbar__Options--FullWindow p:nth-child(1){
    margin-top: 15px;
  }

  .Navbar__Options--FullWindow p{
    cursor: pointer;
    text-align: center;
  }

  .Navbar__Min{
    z-index: 99999;
    position: relative;
    margin: 70px auto 0px;
    color: white;
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-around;
  }
  .Navbar__Min p{
    font-size: 20px;
  }
  .Navbar__Min img{
    transform: rotate(-90deg);
    width: 25px;
    height: 25px;
    cursor: pointer;
  }


  .Navbar__Search{
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  
  .Search__input{
    width: 70%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    background: none;
    color: white;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.436);
  }
  
  .Navbar__Search img{ 
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
  }

}

@media(max-width:1078px){

  .Modal{
    width: 60%;
  }

  .Banner__Filter{
    border-radius:10px ;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.57);  
  }


  .Banner__Info{
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 300px;
    color: white;
  }

  .Banner__Buttons{
    margin: 0 auto;
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
}

@media(max-width:800px){
  .Banner{
    border-radius:0 ;
    position: relative;
    top: 65px;
    width: 100%;
    left: 0;
    height: 500px;
    z-index: -99;
  }
  
  .Modal{
    width: 80%;
  }

}

@media(max-width:640px){
  .Modal{
    width: 90%;
  }
}

@media(max-width:540px){
  .Navbar__Logo p{
    display: none;
  }

  .Navbar__Search img{
    width: 25px;
    height: 25px;
  }
}

@media(max-width:560px){
  .Banner__Buttons{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}


@media(max-width:405px){

  .Banner__Info{
    top: 15%;
  }
  
  .Banner__Buttons{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}